.cardHeaderImage {
    max-height: 160px;
    overflow: hidden;
}

.listingCardContainer {
    margin: auto;

}

.listingCard {
    border-bottom: 3px solid #673AB7;
    border-radius: 0px !important;
    transition-duration: 0.2s;

}

.listingCard:hover {
    cursor: pointer;
    background-color: #f5f0f0 !important;
    transition-duration: 0.2s;
    transform:scale(1.01);

}